@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    /* Colors */
    --color-black: 0 0% 13%;
    --color-blue: 199 98% 48%;
    --color-red: 352 97% 42%;
    --color-white: 0 0% 100%;
    

        /* shadows */
        --bs-0:  0 1px 3px -5px rgba(0, 0, 0, .13),
        0 1px 3px -10px rgba(0, 0, 0, .23);
        --bs-1: 0 3px 6px -5px rgba(0, 0, 0, .16),
        0 3px 6px -10px rgba(0, 0, 0, .23);
        --bs-2: 0 10px 20px -5px rgba(0, 0, 0, .19),
        0 6px 6px -10px rgba(0, 0, 0, .23);
        --bs-3: 0 14px 28px -5px rgba(0, 0, 0, .25),
        0 10px 10px -10px rgba(0, 0, 0, .22);
        
     --radius: calc((4px / 16px) * 1rem);   

}

html {
    font-size: 1rem;
}

body {
    font-family: 'Roboto', Arial, Verdana, sans-serif;
    background: #fafafa;
  }

  a {
      text-decoration: none;
  }

  .player__container {
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
    background: hsl(var(--color-white));
    border-radius:var(--radius);
    box-shadow:var(--bs-2);
  }

  .body__cover {
    position: relative;
  }

  .body__cover img {
    max-width: 100%;
    border-radius: var(--radius);
  }
  
  .list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

.body__buttons,
.body__info,
.player__footer {
  padding-right: 2rem;
  padding-left: 2rem;
}

.list--cover,
.list--footer {
  justify-content: space-between;
}

.list--header .list__link,
.list--footer .list__link {
  color: #888;
}

.list--cover {
    position: absolute;
    top: .5rem;
    width: 100%;
}

.list--cover li:first-of-type {
    margin-left: .75rem;
}

.list--cover  li:last-of-type {
    margin-right: .75rem;
}

.list--cover a {
    font-size: 1.15rem;
    color: hsl(var(--color-white));
  }

  .range {
    position: relative;
    top: -1.5rem;
    right: 0;
    left: 0;
    margin: auto;
    background: #fff;
    width: 80%;
    height:3px;
    border-radius: var(--radius);
    cursor: pointer;  

  }

  /* .range::before,
  .range::after {
    content: "";
    position: absolute;
    cursor: pointer;
  } */

  .progress { 
    width: 0;
    height: 100%;
    background: linear-gradient(to right, hsl(var(--color-red) /.5), hsl(var(--color-red) /.85));
    border-radius: var(--radius);
    overflow: hidden;
  }


  .indicator {
        content: '';
        position: absolute;
        cursor: pointer;
        top:-6px;
        left:0;
        z-index: 3;
        width:14px;
        height:14px;
        background: hsl(var(--color-white));
        border-radius: 50%;
        box-shadow: 0 0 3px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .15);
        transition: all .25s cubic-bezier(.4, 0, 1, 1);
  }

  .indicator:focus,
  .indicator:hover {
    background: hsl(var(--color-red) /.95);
  }

  .body__info {
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
    text-align: center;
  }

.info__album,
.info__song {
  margin-bottom: .5rem;
}

.info__artist,
.info__album {
  font-size: .75rem;
  font-weight: 300;
  color: #666;
}

.info__song {
    font-size: 1.15rem;
    font-weight: 400;
    color: hsl(var(--color-red));
  }

.body__buttons {
    padding-bottom: 2rem;
  }
  
.body__buttons {
    padding-top: 1rem;
  }

.list--buttons {
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .list--buttons li:nth-of-type(n+2) {
    margin-left: 1.25rem;
  }

  .list--buttons a {
    padding-top: .45rem;
    padding-right: .75rem;
    padding-bottom: .45rem;
    padding-left: .75rem;
    font-size: 1rem;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(33,33,33,.1), 0 3px 12px rgba(33,33,33,.15);
 }    

 .list--buttons a:focus,
 .list--buttons a:hover {
    color: hsl(var(--color-red) /.95);
    opacity: 1;
    box-shadow: 0 6px 9px rgba(33,33,33,.1), 0 6px 16px rgba(33,33,33,.15);
 }


 .list--buttons li:nth-of-type(2) a {
    padding-top: .9rem;
    padding-right: 1.3rem;
    padding-bottom: .9rem;
    padding-left: 1.3rem;
    margin-left: .5rem;
    font-size: 1.5rem;
    color: hsl(var(--color-red) /.95);
  }
  
  

.list--buttons li:first-of-type a,
.list--buttons li:last-of-type a {
  padding-top: .72rem;
  padding-right: .8rem;
  padding-bottom: .72rem;
  padding-left: .8rem;
  font-size: .85rem;
  color: hsl(var(--color-black) /.5);
}
.list--buttons li:first-of-type a:focus,
.list--buttons li:last-of-type a:focus,
.list--buttons li:first-of-type a:hover,
.list--buttons li:last-of-type a:hover {
    color: hsl(var(--color-red) /.95);
}

.list__link {
    transition: all .25s cubic-bezier(.4, 0, 1, 1);
}

.list__link:focus,
.list__link:hover {
    color: hsl(var(--color-red) /.95);
}

.player__footer {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.list--footer a {
    opacity: .5;
}  

.list--footer a:focus,
.list--footer a:hover {
    opacity: .9;
}